.layoutContainer {
  height: 100vh;
  width: 100%;
  margin: auto 0;
  padding: 0;
  display: flex;

  .outletContainer {
    flex: 1;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1000px;
    height: 100%;
  }
}
