.layoutContainer {
  height: 100vh;
  width: 100%;
  margin: auto 0;
  padding: 0;
  display: flex;

  .sideBarWrapper {
    display: flex;
    justify-content: center;
    position: sticky;
    height: auto;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 10;
  }

  .outletContainer {
    flex: 1;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1000px;
    height: 100%;
  }
}
