.transparentModal {
  :global(.ant-modal-content) {
    background-color: transparent !important;
    box-shadow: none !important;
    border: 1px solid #fff !important;
  }

  :global(.ant-modal-body) {
    background-color: transparent !important;
    padding: 24px;
    border: 1px solid #fff !important;
  }

  :global(.ant-modal-header) {
    background-color: transparent !important;
    border: none !important;
    color: #fff;
  }
}
