.calendarFilter{
    background-color: rgba(243, 244, 246);
    display: flex;
    width: 160px !important;
    height: 10px !important;
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
}
